# Question 21

In a jupyter notebook solve the following question. Please upload the notebook to GitHub and provide the link submission box below.

__int()__: Constructor that takes as input a pair of Point objects that represent the ends points of the line segment

Length():: returns the length if the segment 

Slope() returns the slope of the segment of none if the slope is unbounded 

>>> p1 = Point(3,4)
>>> p2 = Point()
>>> s = Segment(p1,p2)
>>> s.length()
5.0
>>> s.slope()
0.75

In [73]:
# Define a class for Point objects
class Point:
    # Constructor that takes x and y coordinates as input
    def __init__(self, x, y):
        self.x = x
        self.y = y

    # Method to calculate the distance between two points
    def distance(self, other):
        return ((self.x - other.x) ** 2 + (self.y - other.y) ** 2) ** 0.5

# Define a class for Segment objects
class Segment:
    # Constructor that takes two Point objects as input
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2

    # Method to calculate the length of the segment
    def length(self):
        return self.p1.distance(self.p2)

    # Method to calculate the slope of the segment or None if the slope is unbounded
    def slope(self):
        if self.p1.x == self.p2.x: # vertical line
            return None
        else:
            return (self.p1.y - self.p2.y) / (self.p1.x - self.p2.x)

In [74]:
p1 = Point(3,4)
p2 = Point(-1,1)
s = Segment(p1,p2)
print("The length of the segment is", s.length())
print("The slope of the segment is", s.slope())

The length of the segment is 5.0
The slope of the segment is 0.75

# Question 22

In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 
Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).
Return the result table in any order.
Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+

In [9]:
# Import pandas and sqlite3 libraries
import pandas as pd
import sqlite3

# Create a dataframe with the input data
weather_df = pd.DataFrame({
    "id": [1, 2, 3, 4],
    "recordDate": ["2015-01-01", "2015-01-02", "2015-01-03", "2015-01-04"],
    "temperature": [10, 25, 20, 30]
})

# Display the dataframe
weather_df

   id  recordDate  temperature
0   1  2015-01-01           10
1   2  2015-01-02           25
2   3  2015-01-03           20
3   4  2015-01-04           30

In [10]:
# Create a connection to a SQLite database in memory
conn = sqlite3.connect(":memory:")

# Write the dataframe to the database as a table named Weather
weather_df.to_sql("Weather", conn, index=False)

# Define a SQL query to find all dates' Id with higher temperatures compared to its previous dates (yesterday)
sql_query = """
SELECT w1.id
FROM Weather w1
JOIN Weather w2
ON w1.recordDate = date(w2.recordDate, '+1 day')
WHERE w1.temperature > w2.temperature;
"""

# Execute the SQL query and store the result in a dataframe
result_df = pd.read_sql_query(sql_query, conn)

# Display the result dataframe
result_df

   id
0   2
1   4

# Question 23

In a jupyter notebook solve the following question using python. Please upload the notebook to GitHub and provide the link submission box below.
Develop a recursive function tough() that takes two nonnegative integer arguments and outputs a pattern as shown below. Hint: The first argument represents the indentation of the pattern, where the second argument -- always a pattern of 2 indicates the number *s in the longest line of *s in the pattern

In [75]:
def tough(i, n):
    if n == 0:
        return
    if n == 1:
        print(" " * i + "*")
    else:
        tough(i, n - 1)
        print(" " * i + "*" * n)
        tough(i + n, n - 1)

In [76]:
print("f(0,0):")
tough(0, 0)

print("\nf(0,1):")
tough(0, 1)

print("\nf(0,2):")
tough(0, 2)

print("\nf(0,4):")
tough(0, 4)

f(0,0):

f(0,1):
*

f(0,2):
*
**
  *

f(0,4):
*
**
  *
***
   *
   **
     *
****
    *
    **
      *
    ***
       *
       **
         *